#----WALLET CREDS AND URL----
LIGHTER_BASE_URL=https://testnet.zklighter.elliot.ai #replace with mainnet url if needed
WALLET_PUB_KEY=WALLET-PUB-KEY-LINKED-TO-LIGHTER

#----ACCOUNT INDEXES----
#Sub-Account 1
NEMOTRON_LIGHTER_ACCOUNT_INDEX=ACCOUNT-INDEX-OF-THE-AGENT-SUB-ACCOUNT

#Sub Account 2
GPT_LIGHTER_ACCOUNT_INDEX=ACCOUNT-INDEX-OF-THE-AGENT-SUB-ACCOUNT

#----ACCOUNT PRIVATE KEYS
PRIV_KEY_INDEX=LIGHTER-ACCOUNT-PRIVATE-KEY-INDEX

#Sub Acc 1 Private Key
NEMOTRON_PRIVATE_KEY=YOUR-SUB-ACCOUNT-PRIVATE-KEY

#Sub Acc 2 Private kKy
GPT_PRIVATE_KEY=YOUR-SUB-ACCOUNT-PRIVATE-KEY

#-----------
OPENROUTER_API_KEY=YOUR-OPENROUTER-API-KEY
POSTGRES_DB_URL=YOUR-POSTGRES-DB-URL
